.football{
  padding-top: 60px;
  padding-bottom: 60px;
}
.football__box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.football__title{
font-weight: 400;
font-size: 16px;
color: #000;
text-align: center;
margin-bottom: 40px;
}

#ui {
  color: black;
  font-size: 20px;
  margin-bottom: 10px;
}

#arena {
  position: relative;
  width: 720px;
  height: 220px;
  border-radius: 37px;
  border: 2px solid #000;
  background: #5ABB58;
  overflow: hidden;
  padding: 80px 175px 220px 175px;
}

#ball {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.3s ease, top 0.3s ease;
}
.goal {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 80px;
  background: gold;
  transform: translateY(-50%);
}

.goal.left {
  left: 0;
}

.goal.right {
  right: 0;
}