

.quess {
      margin-top: 36px;
      margin-bottom: 36px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    color: #000;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 36px;
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 202px; 
  }

  &__form {
    display: flex;
    align-items: center;
    background: #d7d7d7;
    border-radius: 20px;
    overflow: hidden;
    filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));
    margin-bottom: 36px;
  }

  &__input {
    border: none;
    background: transparent;
    padding: 10px 45px 10px 10px;
    outline: none;
    font-family: inherit;
    width: 180px;
    color: #7e7e7e;
    font-family: 'Montserrat Alternates';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    border: none;
    cursor: pointer;
    width: 35px; 
    height: 35px; 
    border-radius: 0 25px 25px 0; 

  }

  &__svg {
    width: 18px;
    height: 18px;
    fill: #fff;
  }

  &__answer {
    color: #3fb04b; 
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    margin: 0;
    margin-bottom: 36px;
  }
}
