.modal2 {
    width: 463px;
    height: 245px;
    background-color: grey;
    border-radius: 20px;
    display: none;
    position: fixed;
    top: 20%;
}

.temperaryOpenBtn2 {
    width: 50px;
    height: 50px;
    background-color: brown;
}

.modal2_close_btn {
    width: 50px;
    height: 50px;
    background-color: brown;
}