.team {
  padding-top: 40px;
  padding-bottom: 40px;

  &__btn-left {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 150px;
    left: 500px;
  }

  &__btn-right {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 150px;
    right: 500px;
  }

  &__icon {
    width: 50px;
    height: 100px;
    color: black;
  }

  &__title {
    font-family: "Montserrat Alternates";
    color: #000000;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
  }

  &__img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  &__gallery {
    width: 300px;
    height: 250px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }

  &__list {
    display: flex;
    height: 100%;
  }

  &__item {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    text-align: center;
  }

  &__name {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
