@use "./base/reset";
@use "./base/common";
@use "./base/container";
@use "./base/variables";
@use "./base/utils";
@use "./sections/header";
@use "./sections/year";
@use "./sections/guess-the-number";
@use "./sections/rock-paper-scissors";
@use "./sections/calculator";
@use "./sections/time";
@use "./sections/dinosaur";
@use "./sections/football";
@use "./sections/biggest-number";
@use "./sections/ourteam";
@use "./sections/scientists";
@use "./sections/modal1";
@use "./sections/modal2";
@use "./sections/footer";