<div class="container biggest_numbers">
  <h2>Введіть 3 числа</h2>
  <div class="input_divs_bn">
    <input
      type="text"
      placeholder="Введіть число"
      class="biggest_number"
      data-index="0"
    />
    <input
      type="text"
      placeholder="Введіть число"
      class="biggest_number"
      data-index="1"
    />
    <input
      type="text"
      placeholder="Введіть число"
      class="biggest_number"
      data-index="2"
    />
  </div>
  <h3 class="the_bigest_number">Найбільше число, яке ви ввели - (число)</h3>
</div>