<section id="numbers" class="calculator">


    <div class="container calculator__container">
        <div class="year__line"></div>
        <h2 class="calculator__title">Калькулятор</h2>
        <div class="calculator__content"> <input type="number" class="calculator__input" placeholder="Введіть число">

            <ul class="calculator__buttons-grid">
                <li><button class="calculator__button" id="button1">+</button></li>
                <li><button class="calculator__button" id="button2">*</button></li>
                <li><button class="calculator__button" id="button3">-</button></li>
                <li><button class="calculator__button" id="button4">/</button></li>
            </ul>
            <input type="number" class="calculator__input" placeholder="Введіть число">
            <button class="calculator__equals">=</button>
            <input type="number" class="calculator__input calculator__input--result" placeholder="Результат" readonly>
        </div>
        <div class="year__line"></div>
    </div>
</section>