<header class="site-header">
  <div class="container header-box">
    <div class="header-left">
      <svg class="header-icon">
        <use href="./img/symbol-defs2.svg#icon-logo"></use>
      </svg>
    </div>

    <div class="header-center">
      <nav class="nav">
        <a href="#">Інтерактив</a>
        <a href="#">Наша команда</a>
        <a href="#">Контакти</a>
      </nav>
    </div>

    <div class="header-right">
      <div class="user-area">
         <div class="header-slider">
          <div class="header-circle">
            <img class="header-img" src="./img/sun.png" alt="">
          </div>
         </div>
        <span class="user-name">Вітаємо, User!</span>
      </div>
    </div>
  </div>
</header>
