<button class="openBtn2"></button>

<div class="modal_overlay2">
  <div class="modal2">
    <svg class="modal2_close_btn">
      <use href="../img/symbol-defs2.svg#icon-cross"></use>
    </svg>
    <h3>Дякую за підписку!</h3>
    <svg class="modal_icon1_2 modal_icon">
      <use href="../img/symbol-defs2.svg#icon-video"></use>
    </svg>
    <svg class="modal_icon2_2 modal_icon">
      <use href="../img/symbol-defs2.svg#icon-display"></use>
    </svg>
    <svg class="modal_icon3_2 modal_icon">
      <use href="../img/symbol-defs2.svg#icon-params"></use>
    </svg>
    <svg class="modal_icon4_2 modal_icon">
      <use href="../img/symbol-defs2.svg#icon-wallet"></use>
    </svg>
  </div>
</div>
