<section class="team" data-aos="fade-up">
  <div class="container">
    <div class="line"></div>
    <h2 class="team__title">Наша команда</h2>
    <button type="button" class="team__btn-left">
      <svg class="team__icon">
        <use href="./img/symbol-defs2.svg#icon-arrowLeft"></use>
      </svg>
    </button>
    <div class="team__gallery">
      <ul class="team__list">
        <li class="team__item">
          <img
            src="./img/mykola.jpg"
            alt="Mykola Sadlii"
            class="team__img"
          />
          <h2 class="team__name">Микола Садлій</h2>
          <p class="team__desc">Team Lead,розробив секції team,scientists,footer</p>
        </li>
        <li class="team__item">
          <img
            src="./img/olena.jpg"
            alt="Olena Marynenko"
            class="team__img"
          />
          <h2 class="team__name">Олена Мариненко</h2>
          <p class="team__desc">Scrum Master, розробила секції calculator, time calculator,</p>
        </li>
        <li class="team__item">
          <img
            src="./img/karina.jpg"
            alt="Karina Velmushkina"
            class="team__img"
          />
          <h2 class="team__name">Каріна Вельмушкіна</h2>
          <p class="team__desc">Developer, розробила секції modals, Rock paper scissors, biggest number</p>
        </li>
        <li class="team__item">
          <img
            src="./img/lev.jpg"
            alt="Lev Plotnyk"
            class="team__img"
          />
          <h2 class="team__name">Лев Плотник</h2>
          <p class="team__desc">Developer, розробив секції football, header, google dino</p>
        </li>
      </ul>
    </div>
    <ul class="team__slider-dots">
  <li class="team__dot active"></li>
  <li class="team__dot"></li>
  <li class="team__dot"></li>
  <li class="team__dot"></li>
</ul>
    <button type="button" class="team__btn-right">
      <svg class="team__icon">
        <use href="./img/symbol-defs2.svg#icon-arrowRight"></use>
      </svg>
    </button>
      <div class="line" style="margin-top: 30px; margin-bottom: 0px;"></div>
  </div>
</section>
