<section class="team">
      <div class="container">
        <hr />
        <h2 class="team__title">Наша команда</h2>
        <button type="button" class="team__btn-left">
          <svg class="team__icon">
            <use href="../img/symbol-defs2.svg#icon-arrowLeft"></use>
          </svg>
        </button>
        <div class="team__gallery">
          <ul class="team__list">
          <li class="team__item">
            <img src="https://cdn.openart.ai/stable_diffusion/a7a1a62d32acb405bfc2f2bb2cacf0f7678c838a_2000x2000.webp" alt="" class="team__img" />
            <h2 class="team__name">Микола Садлій</h2>
            <p class="team__desc">Team Lead</p>
          </li>
          <li class="team__item">
            <img src="https://i.pinimg.com/originals/9f/de/d9/9fded9486e840e42aa4c9b6b25561fab.gif" alt="" class="team__img" />
            <h2 class="team__name">Олена Мариненко</h2>
            <p class="team__desc">Scrum Master</p>
          </li>
          <li class="team__item">
            <img src="https://static.displate.com/857x1200/displate/2024-10-16/d15f5b6f-796b-4c9b-9c92-8556d775de1e.jpg" alt="" class="team__img" />
            <h2 class="team__name">Каріна Вельмушкіна</h2>
            <p class="team__desc">Developer</p>
          </li>
          <li class="team__item">
            <img src="https://images.wallpapersden.com/image/download/asus-rog-logo_bGlsa2uUmZqaraWkpJRoZWWtaGVl.jpg" alt="" class="team__img" />
            <h2 class="team__name">Лев Плотник</h2>
            <p class="team__desc">Developer</p>
          </li>
        </ul>
        </div>
        <button type="button" class="team__btn-right">
          <svg class="team__icon">
            <use href="../img/symbol-defs2.svg#icon-arrowRight"></use>
          </svg>
        </button>
        <hr />
      </div>
    </section>