<div class="rsp container">
<h3>Камінь - ножиці - папір</h3>
<div class="div_rsp">
    <div class="btn_rsp" data-value="rock">
          <svg class="icon_rsp">
                <use href="./img/symbol-defs2.svg#stone1"></use>
            </svg>
    </div>
    <div class="btn_rsp" data-value="scissors">
          <svg class="icon_rsp">
                <use href="./img/symbol-defs2.svg#scissors1"></use>
            </svg>
    </div>
    <div class="btn_rsp" data-value="paper">
          <svg class="icon_rsp">
                <use href="./img/symbol-defs2.svg#paper1"></use>
            </svg>
    </div>
</div>
<div class="text_rsp">
    
    <p>Рахунок:</p>
    <p class="winCounter">Ви - 0</p>
    <p class="loseCounter">Комп’ютер - 0</p>
</div>

<p class="whowin_p">Ви виграли раунд!</p>
<button class="comp_btn">Варіант комп’ютера</button>

</div>