<h3 class="rock_text">Камінь - ножиці - папір</h3>
<div class="rock_icons_div">
    <div class="rock_icon_div">
        <svg >
            <use href="../img/symbol-defs2.svg#stone1">
            </use>
        </svg>
    </div>
    
    <div class="rock_icon_div">
        <svg >
            <use href="../img/symbol-defs2.svg#paper1">
            </use>
        </svg>
    </div>
    
    <div class="rock_icon_div">
        <svg >
            <use href="../img/symbol-defs2.svg#scissors1">
            </use>
        </svg>
    </div>
</div>

<p class="you_won_rock"></p>
<button class="computer_rock"></button>

<p>Рахунок:</p>
<p>Комп’ютер - 0</p>
<p>Ви - 0</p>